

.filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  list-style: none;
}


li {
  border: 1px solid black;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: none;
  box-shadow: 0 0 6px rgb(145, 60, 60);
}

li:hover {
  transform: translateX(-10px);
  background-color: lightgrey;
  cursor: pointer;
}

.searchBar {
  width: 50%;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0 6px rgb(145, 60, 60);
  margin-left: 10rem;
  margin-top: -30rem;
  padding: 1rem;
  outline: none;
}

h1 {
  text-align: center;
  color: palevioletred;
}

.text {
  margin-left: 10px;

}

.sorting {
  margin-left: 10px;
  margin-top: -30rem;
}

.sortDropdown {
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0 6px rgb(145, 60, 60);
  padding: 0.5rem;
  outline: none;
  margin-left: 0.5rem;
}

.categoryButtons .btn {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0 6px rgb(145, 60, 60);
  width: 10%;
  margin-top: 1rem;
  padding: 0.5rem;
  outline: none;
}

.btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.btn:active, .active {
  background-color: coral;
}

.searchContainer {
  display: flex;
  align-items: center;
}





